<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.stalmate.user">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.stalmate.user.base.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="32">
        <activity
            android:name=".view.profile.ActivityOtherUserProfile"
            android:exported="false" />
        <activity
            android:name=".view.profile.ActivityProfileEdit"
            android:exported="false" />
        <activity
            android:name=".modules.reels.activity.ActivityFilter"
            android:exported="false" />
        <activity
            android:name=".view.OnBoarding.ActivityOnBoardingScreen"
            android:exported="false" />
        <activity
            android:name=".view.authentication.ActivityAuthentication"
            android:exported="false" />
        <activity
            android:name=".view.dashboard.ActivityDashboard"
            android:exported="false" />
        <activity
            android:name=".modules.reels.activity.ActivityVideoEditor"
            android:exported="false" />
        <activity
            android:name="com.stalmate.user.modules.reels.activity.ActivityVideoRecorder"
            android:exported="true"
            android:label="@string/app_name" />
        <activity
            android:name=".view.Splash.ActivitySplash"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.profile.ActivityProfile"
            android:exported="true">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>