<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.stalmate.user">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="com.stalmate.user.base.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ActivitySideDawer"
            android:exported="false" />
        <activity android:name="com.c2m.storyviewer.screen.StoryActivity" />
        <activity
            android:name=".view.dashboard.Friend.ActivityCategoryCreate"
            android:exported="false" />
        <activity
            android:name=".view.ActivityAllPictureShow"
            android:exported="false" />
        <activity
            android:name=".view.dashboard.HomeFragment.ActivitySearch"
            android:exported="false"
            android:theme="@style/noAnimTheme" />
        <activity
            android:name=".view.singlesearch.ActivitySingleSearch"
            android:exported="false" />
        <activity
            android:name=".view.dashboard.welcome.ActivityWelcome"
            android:exported="false" />
        <activity android:name=".view.photoalbum.ActivityPhotoGallery" />
        <activity
            android:name=".view.myStory.ActivityMyStory"
            android:exported="false" />
        <activity
            android:name=".view.ActivityCreatePost"
            android:exported="false" />
        <activity
            android:name="com.canhub.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" /> <!-- optional (needed if default theme has no action bar) -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".view.profile.ActivityFollowersFollowingScreen"
            android:exported="false" />
        <activity
            android:name=".view.profile.ActivityOtherUserProfile"
            android:exported="false" />
        <activity
            android:name=".view.profile.ActivityProfileEdit"
            android:exported="false" />
        <activity
            android:name=".modules.reels.activity.ActivityFilter"
            android:exported="false" />
        <activity
            android:name=".view.OnBoarding.ActivityOnBoardingScreen"
            android:exported="false" />
        <activity
            android:name=".view.authentication.ActivityAuthentication"
            android:exported="false"
            android:launchMode="singleTop" />

        <activity
            android:name=".view.profile.ActivitySideDawer"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.dashboard.ActivityDashboard"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".modules.reels.activity.ActivityVideoEditor"
            android:exported="false" />
        <activity
            android:name="com.stalmate.user.modules.reels.activity.ActivityVideoRecorder"
            android:exported="true"
            android:label="@string/app_name" />
        <activity
            android:name=".view.Splash.ActivitySplash"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.profile.ActivityProfile"
            android:exported="true">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".services.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="false"
            tools:node="merge">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_splash_logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />

        <service
            android:name=".modules.contactSync.SyncService"
            android:enabled="true"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
            <meta-data
                android:name="android.provider.CONTACTS_STRUCTURE"
                android:resource="@xml/contacts" />
        </service>
        <service
            android:name=".modules.contactSync.AuthenticationService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
    </application>

</manifest>